*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media only screen and (min-width:768px){
    #firstpic{
        height: 500px;
        width: 500px;
    }
    #secpic{
        height: 270px;
        width: 390px;
        margin-top: 300px;
    }
    #pic4{
        height: 200px;
        width: 200px;
    }
    #pic5{
        height: 200px;
        width: 200px;
    }
    #pic6{
        height: 200px;
        width: 200px;
    }
    #pic7{
        height: 200px;
        width: 200px;
    }
    #pictures{
        display: flex;
    }
    #rider{
        height: 300px;
        width: 350px;
    }
    #box{
        width: 600px;
    }
    #lower{
        display: flex;
    }
    #boltpic{
        height: 500px;
        width: 500px;
    }
    }



@media only screen and (min-width:320px) and (max-width:430px){
    #white{
        display: none;
    }

}